@font-face {
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Fonttype';
}

#container {
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
    overflow-y: scroll;
    align-items: center;
}

#logo {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 25%;
}

#title {
    text-align: center;
    font-size: 40px;
}

#question-section {
    margin: 2%;
}

.question {
    margin-top: 5%;
    margin-bottom: 0%;
}

.answer {
    font-size: 26px;
}

.home{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-size: 30px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(14, 76, 109);
    color: white;
    padding: 0.5%;
    cursor: pointer;
    transition-duration: 0.7s;
    font-family: 'Fonttype';
}

.home:hover {
    background-color: rgb(114, 186, 213);
}

.home:active {
    transform: translateY(4px);
}

@media only screen and (max-width: 720px) {

    body{
        height: 100vh;
    }

    #logo {
        max-width: 70%;
        margin-top: 12%;
    }

    #title {
        font-size: 28px;
    }

    #question-section {
        margin: 5%;
    }

    .question,
    .answer {
        font-size: 20px;
    }

    .question{
        margin-top: 7%;
    }

    .home{
        font-size: 20px; 
        padding: 1.25%;
    }



}