@font-face {
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #00394f;
    margin: 0;
    padding: 0;
}

#desktop-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Fonttype';
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.footer-link {
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
}

.footer-link:hover {
    color: rgb(114, 186, 213);
}

.footer-section {
    display: grid;
    padding: 3%;
    text-align: left;
    justify-content: center;
}

.footer-header {
    padding-bottom: 5%;
    margin: 0;
}

.footer-link {
    padding-top: 1%;
    margin: 0;
}

#mobile-footer{
    display: none;
}

@media only screen and (max-width: 720px) {
    #desktop-footer {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding-bottom: 3%;
        margin-top: 2%;
        
    }
    #social-media {
        display: none;
    }

    #mobile-footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 2%;
    }

    #ig-icon, #tw-icon, #fb-icon{
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

}