    @font-face {
        font-family: Fonttype;
        src: url("/fonts/static/Raleway-Regular.ttf");
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #e6e6e6;
        overflow-x: hidden;
    }
    
    .container {
        display: grid;
        height: 100%;
        max-height: calc(100vh - 20%);
        max-height: 1080px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40% 30% 30%;
        padding: 0;
        margin: 0;
    }
    
    #image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top: 0;
        margin-top: 0;
    }
    
    #image:hover {
        opacity: 50%;
    }
    
    #image:hover+#header-text {
        display: block;
    }
    
    #image-gallery {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        position: relative;
    }
    
    #header-text {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Fonttype';
        white-space: nowrap;
        color: #00394f;
    }
    
    #hero-logo-container {
        background-color: white;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    #logo {
        width: 100%;
        object-fit: cover;
    }
    
    #hero-text-container {
        background-color: #00394f;
        color: white;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    
    button {
        text-align: center;
        white-space: nowrap;
        height: 40px;
        font-size: 20px;
        border-style: none;
        background-color: rgb(14, 76, 109);
        color: white;
        border-radius: 7px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 10%;
        padding-right: 10%;
        cursor: pointer;
        transition-duration: 0.7s;
        font-family: 'Fonttype';
    }
    
    button:active {
        transform: translateY(4px);
    }
    
    button:hover {
        background-color: rgb(114, 186, 213);
    }
    
    #menu-container {
        width: 100%;
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        background: #e6e6e6;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
    }
    
    #motto {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding-top: 5%;
        color: #00394f;
        font-size: 30px;
        text-align: center;
    }
    
    #button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #learn-more-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 5%;
    }
    
    #get-started-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 5%;
    }
    
    #landing-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        clip-path: circle(95% at right);
    }
    /* Cart */
    
    .display-cart2 {
        display: none;
    }
    
    .cart-quantity-input {
        width: 30%;
        height: 20%;
    }
    
    .btn-danger:hover {
        background-color: red;
    }
    
    .btn-danger {
        background-color: rgb(14, 76, 109);
        color: white;
        border-style: none;
        border-radius: 5px;
        padding: 2%;
        cursor: pointer;
        font-family: 'Fonttype';
        transition-duration: 0.7s;
        font-size: small;
        height: 50%;
    }
    
    .display-cart {
        z-index: 1;
        right: 0;
        height: 40%;
        width: 30%;
        float: right;
        position: absolute;
        background-color: aliceblue;
        opacity: 0;
        border: solid black 2px;
    }
    
    .cart-heading {
        text-align: center;
        font-size: 36px;
        margin-bottom: 1%;
    }
    
    #close-m {
        display: none;
    }
    
    .subtotal,
    .subtotal2 {
        width: 100%;
    }
    
    #total1 {
        position: absolute;
        margin-top: 10%;
        margin-left: 9%;
    }
    
    th,
    td {
        text-align: center;
    }
    
    #close {
        background-color: rgb(14, 76, 109);
        color: white;
        border-style: none;
        border-radius: 5px;
        padding: 2%;
        cursor: pointer;
        font-family: 'Fonttype';
        transition-duration: 0.7s;
    }
    
    #close,
    #close-m {
        float: right;
        top: 0;
    }
    /* Cart */
    
    #motivation {
        color: #00394f;
        font-size: large;
        grid-column: 1 / 3;
        grid-row: 2 / 2;
        text-align: center;
    }
    
    #easter-egg {
        width: 70%;
        object-fit: cover;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        z-index: 0;
        justify-self: center;
        display: none;
    }
    
    @keyframes easterEgg {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        99% {
            opacity: 0;
            transform: translateY(500px);
        }
        100% {
            opacity: 0;
            transform: translateY(-500px);
        }
    }
    
    #learn-more {
        z-index: 2;
    }
    
    #get-started {
        z-index: 2;
    }
    
    @media only screen and (max-width: 720px) {
        .container {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 30% 25% 25% 20%;
            height: 100%;
            padding-bottom: 5%;
        }
        #image-gallery {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        #hero-logo-container {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            padding: 3%;
        }
        #hero-text-container {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        #menu-container {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
            padding-bottom: 10%;
            margin-right: 0;
            padding-right: 0;
        }
        #button-container {
            padding-bottom: 20%;
        }
        #header-text {
            font-size: medium;
        }
        #motto {
            font-size: 20px;
            margin-bottom: 3%;
        }
        /* Cart */
        .display-cart {
            display: none;
        }
        .display-cart2 {
            display: block;
            grid-area: subtotal;
            z-index: 1;
            right: 0;
            height: 25%;
            width: 100%;
            float: right;
            position: absolute;
            background-color: aliceblue;
            opacity: 0;
            bottom: 0;
            margin-bottom: 15%;
        }
        #close-m {
            display: flex;
            background-color: rgb(14, 76, 109);
            color: white;
            border-style: none;
            border-radius: 5px;
            padding: 2%;
            cursor: pointer;
            font-family: 'Fonttype';
            transition-duration: 0.7s;
        }
        #close-m:hover {
            background-color: rgb(114, 186, 213);
        }
        #close-m:active {
            transform: translateY(4px);
        }
        .quantity {
            width: 30%;
        }
        /* Cart */
    }