@font-face {
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

body {
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: rgb(245, 245, 245);
    font-family: 'Fonttype';
}

#container {
    max-width: 100%;
    text-align: center;
    padding-top: 12%;
}

#logo {
    display: inline-block;
    max-width: 25%;
    margin-left: 3%;
    margin-right: 3%;
}

#login-container {
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border-radius: 8px;
}

#user_name {
    display: flex;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 4px;
    border-style: solid;
    font-family: 'Fonttype';
}

#password {
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 4px;
    border-style: solid;
    font-family: 'Fonttype';
}

#submit {
    display: flex;
    margin-top: 6%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-style: none;
    background-color: rgb(14, 76, 109);
    color: white;
    border-radius: 7px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    cursor: pointer;
    font-family: 'Fonttype';
    transition-duration: 0.7s;
}

#submit:hover {
    background-color: rgb(114, 186, 213);
}

#submit:active {
    transform: translateY(4px);
}

#forgot {
    text-decoration: none;
    color: black;
}

#errorMsg {
    color: red;
}

#create {
    display: flex;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 7px;
    border-style: none;
    background-color: rgb(14, 76, 109);
    color: white;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    cursor: pointer;
    font-family: 'Fonttype';
    transition-duration: 0.7s;
}

#create:hover {
    background-color: rgb(114, 186, 213);
}

#create:active {
    transform: translateY(4px);
}


@media only screen and (max-width: 720px) {
    #logo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        max-width: 70%;
    }
    #login-container {
        padding: 4%;
        margin-top: 5%;
    }
}