@font-face {
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Fonttype';
    max-height: 1080px;
    height: 100vh;
    background-color: #01171b;
}

#mobile {
    display: none;
}

#close,
#close-m {
    float: right;
    top: 0;
}

#container {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas:
        "cart" "map"
        "cart" "map";
    height: 100vh;
}

svg path {
    fill: #00394f;
    stroke: white;
    stroke-width: .25;
}

svg path:hover {
    fill: rgb(114, 186, 213);
    transition: 0.6s;
    cursor: pointer;
}


.mobile-cart-container {
    margin-left: 5%;
    max-width: 100%;
}

#cart {
    grid-area: cart;
    max-height: 100%;
    width: 10%;
    overflow-y: scroll;
    left: 0;
    position: absolute;
    scrollbar-width: none;
    z-index: 1;
}

#cart::-webkit-scrollbar {
    display: none;
}

.map {
    grid-area: map;
    width: 95%;
    margin-top: 5%;
    right: 0;
    position: absolute;
    float: right;
}

svg path {
    fill: #00394f;
    stroke: white;
    stroke-width: .25;
}

svg path:hover {
    fill: darkgreen;
    transition: 0.4s;
    cursor: default;
}

#footerPlaceholder {
    bottom: 0;
    left: 0;
}

.country {
    color: aqua;
}

.countries {
    fill: red;
}

.card {
    background-color: white;
    float: inline-start;
    padding: 2%;
    text-align: center;
    margin-bottom: 7%;
    margin-top: 7%;
    margin-left: 7%;
}

.description {
    margin-bottom: 5%;
}

button,
.packagesDisplay {
    background-color: rgb(14, 76, 109);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 3%;
    cursor: pointer;
    font-family: 'Fonttype';
    transition-duration: 0.7s;
}

#close,
#purchase.buy,
.btn-danger {
    background-color: rgb(14, 76, 109);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 2%;
    cursor: pointer;
    font-family: 'Fonttype';
    transition-duration: 0.7s;
}

#purchase.buy {
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
}

#total1 {
    margin: auto;
}

button:hover,
.packagesDisplay:hover,
#close:hover,
#purchase.buy:hover {
    background-color: rgb(114, 186, 213);
}

button:active,
.packagesDisplay:active,
#close:active,
#purchase.buy:active {
    transform: translateY(4px);
}

#desktop-cart-container {
    height: 100%;
    margin: 4%;
    padding-bottom: 5%;
}

.subtotal,
.subtotal2 {
    width: 100%;
}

#cart-layout {
    position: relative;
    top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

th,
td {
    text-align: center;
}

.cart-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 1%;
}

.buy.purchase {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#close-m {
    display: none;
}

#mobile-purchase.buy {
    display: none;
}

#removeallM.remove {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.packages {
    margin-right: 2%;
}

.packagesDisplay {
    margin-left: 2%;
}

#heading2 {
    display: none;
}

.display-cart2 {
    display: none;
}

.cart-quantity-input {
    width: 30%;
    height: 20%;
}

.btn-danger:hover {
    background-color: red;
}

.close-package {
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
}

.display-cart {
    z-index: 1;
    right: 0;
    height: 40%;
    width: 30%;
    float: right;
    position: absolute;
    background-color: aliceblue;
    opacity: 0;
    border: solid black 2px;
}

#legend-contents, .label {
    color: white;
}

.label {
    font-size: 0.75rem;
    text-align: left;
}

.colour {
    width: 15px;
}

#legend-title {
    text-align: left;
}

#help {
    height: 10px;
    width: 10px;
    background-color: red;
}
#food-shortage {
    height: 10px;
    width: 10px;
    background-color: orange;
}
#flood {
    height: 10px;
    width: 10px;
    background-color: skyblue;
}
#war {
    height: 10px;
    width: 10px;
    background-color: #8900f2;
}
#not-available {
    height: 10px;
    width: 10px;
    background-color: darkgreen;
}
#unrest {
    height: 10px;
    width: 10px;
    background-color: #e2b4bd;
}

#country1:hover, #country2:hover {
    fill: #8900f2;
    transition: 0.4s;
    cursor: pointer;
}
#country3:hover{
    fill: #f26419;
    transition: 0.4s;
    cursor: pointer;
}
#country4:hover{
    fill: skyblue;
    transition: 0.4s;
    cursor: pointer;
}
#country5:hover{
    fill: #e2b4bd;
    transition: 0.4s;
    cursor: pointer;
}

#legend {
    transform: translateY(-10rem);
}

@media only screen and (max-width: 720px) {
    body {
        margin-right: 0;
    }

    #container {
        display: grid;
        grid-template-columns: 100%;
        max-height: 85.5%;
    }

    .cart-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 50% 30%;
        grid-template-areas:
            "cart"
            "map"
            "subtotal";

    }

    .map {
        grid-area: map;
        height: 100%;
        width: 100%;
        margin-top: 15%;
        position: relative;
    }

    #cart {
        grid-area: cart;
        max-height: 20%;
        width: 100%;
        overflow-y: scroll;
        left: 0;
        position: absolute;
        scrollbar-width: none;
    }

    .display-cart {
        display: none;
    }

    #heading2 {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    .display-cart2 {
        display: block;
        grid-area: subtotal;
        z-index: 1;
        right: 0;
        height: 30%;
        width: 100%;
        float: right;
        position: absolute;
        background-color: aliceblue;
        opacity: 0;
        bottom: 0;
        margin-bottom: 15%;
    }

    .card {
        margin-left: 0;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 6%;
        margin-right: 6%;
    }

    #mobile {
        display: inline-block;
    }

    #desktop {
        display: none;
    }

    #mobile-cart-container {
        margin: 2%;
    }

    #close-m,
    #mobile-purchase.buy {
        display: flex;
        background-color: rgb(14, 76, 109);
        color: white;
        border-style: none;
        border-radius: 5px;
        padding: 2%;
        cursor: pointer;
        font-family: 'Fonttype';
        transition-duration: 0.7s;
        text-align: center;
    }

    #close-m:hover,
    #mobile-purchase.buy:hover {
        background-color: rgb(114, 186, 213);
    }

    #close-m:active,
    #mobile-purchase.buy:active {
        transform: translateY(4px);
    }

    .card {
        display: grid;
        grid-template-rows: 15% 40% 20% 25%;
        grid-template-columns: 40% 60%;
    }

    #title {
        grid-column: 1/3;
        margin-bottom: 1%;
    }

    .pImage {
        grid-column: 1/2;
        grid-row: 2/5;
        margin: auto;
    }

    .description {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .price {
        grid-column: 2/3;
        margin-top: auto;
        margin-bottom: auto;
    }

    .options {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .subtotal2 {
        margin-top: 3%;
    }

    #cart-layout-mobile {
        position: relative;
        top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #mobile-purchase.buy {
        margin-left: auto;
        margin-right: auto;
        padding: 4%;
    }

    #total2 {
        margin-top: 0;
        padding-top: 0;
    }


    .quantity {
        width: 30%;
    }

    .close-package {
        padding: 2%;
        display: flex;
    }

    #legend {
        transform: translateY(5rem);
    }
}