@font-face {
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

html,
body {
    font-family: 'Fonttype';
}

.navbar {
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #00394f;
    box-shadow: 0 1px 10px 0 rgb(0, 0, 0, .6);
    display: grid;
    grid-template-columns: 30% 45% 25%;
}

.logo {
    margin: auto;
    max-width: 38%;
}

.user-options {
    margin: auto;
}

.logout-button {
    margin: auto;
    color: white;
    font-size: 20px;
    font-family: 'Fonttype';
    cursor: pointer;
    background-color: rgb(114, 186, 213);
    border-style: none;
    border-radius: 7px;
    padding: 3%;
}

.navbar ul {
    margin: auto;
    padding: 0;
    top: 0%;
    display: flex;
}

.navbar li {
    list-style: none;
    font-size: 23px;
    font-weight: bold;
}

.navbar li a {
    text-decoration: none;
    display: block;
    color: white;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition-duration: 0.5s;
}

.material-symbols-outlined.md-24.cart{
    margin-right: 5%;
    margin-bottom: 10%;
    cursor: pointer;
}

.navbar li a:hover {
    color: rgb(114, 186, 213);
}

#mobile-navbar {
    display: none;
}

.material-symbols-outlined {
    color: white;
    font-size: 36px;
    margin-top: 10%;
    transition-duration: 0.5s;
}

.material-symbols-outlined:hover {
    color: rgb(114, 186, 213);
}

.cart-holder {
    text-align: end;
    padding-right: 5%;
}

#desktop-logo {
    object-fit: cover;
}

@media only screen and (max-width: 720px) {
    .navbar {
        display: block;
    }
    #desktop-navbar {
        display: none;
    }
    #mobile-navbar {
        display: flex;
        align-items: center;
        margin: 0;
        justify-content: space-between;
        padding-top: 1%;
        padding-bottom: 1%;
    }


    #mobile-logo {
        max-height: 140px;
        justify-content: center;
    }
    #mobile-nav2 {
        grid-column: 2 / 4;
        text-align: center;
        margin: auto;
    }
    #mobile-nav3 {
        grid-column: 3 / 4;
        margin-right: 2.5%;
        font-size: 36px;
    }
}