@font-face {
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "Fonttype";
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    margin-top: 3%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.home {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(14, 76, 109);
    color: white;
    padding: 0.5%;
    cursor: pointer;
    transition-duration: 0.7s;
    margin-top: 2%;
}

.home:hover {
    background-color: rgb(114, 186, 213);
}

.home:active {
    transform: translateY(4px);
}

a {
    color: rgb(14, 76, 109);
}

#header-image {
    width: 80%;
    justify-self: center;
    margin-top: 3%;
}

#partnerships-image {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

#page-header {
    text-align: center;
    font-size: 36px;
}

#description {
    width: 80%;
    justify-self: center;
    text-align: center;
    border: 0px;
    border-bottom: 3px;
    border-style: solid;
    border-color: black;
    padding-bottom: 5%;
}

#partners {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    font-size: 22px;
}

#partners-gallery {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 40% 40%;
    width: 60%;
    row-gap: 5%;
    column-gap: 3%;
    justify-content: center;
    justify-self: center;
    margin-top: 3%;
}

.partner-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    justify-self: center;
}

@media only screen and (max-width: 720px) {
    #partners-gallery {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    .home {
        margin-top: 10%;
    }
}