@font-face{
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Fonttype';
}


/* Main Container */

.container {
    grid-area: main;
    display: grid;
    grid-template-rows: 15% 5% 5% 30% 45%;
    grid-template-areas:
    "upload-image" 
    "name"
    "email"
    "profile-pic"
    "order-history";
    height: 100vh;
    overflow-x: hidden;
}

.display-image {
    grid-area: upload-image;
}

.display-name {
    grid-area: name;
}
.display-email {
    grid-area: email;
}

.profile-pic {
    grid-area: profile-pic;
}

.order-history {
    grid-area: order-history;
}

/* Main Container End*/


