@font-face {
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Fonttype';
    max-height: 1080px;
}

#container {
    width: 100%;
    display: grid;
    grid-template-rows: 25% 75%;
}


svg path {
    fill: #00394f;
    stroke: white;
    stroke-width: .25;
}

svg path:hover {
    fill: rgb(114, 186, 213);
    transition: 0.6s;
    cursor: pointer;
}

.countries {
    fill: red;
}

#pList {
    padding: 5%;
    margin: 5%;
}

.card {
    background-color: white;
    float:inline-start;
    padding: 2%;
    text-align: center;
}
