@font-face {
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #01171b;
    overflow-x: hidden;
    font-family: 'Fonttype';
    max-height: 1080px;
    height: 100vh;
}

#display-cart {
    z-index: 1;
    right: 0;
    height: 30%;
    width: 30%;
    float: right;
    position: absolute;
    background-color: aliceblue;
    opacity: 0;
}

#close {
    float: right;
    top: 0;
}

.container {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 60% 20% 20%;
    grid-template-areas: 
    "cart" "map"
    "cart" "map"
    "total" "map";
    height: 100vh;
}

svg path {
    fill: #00394f;
    stroke: white;
    stroke-width: .25;
}

svg path:hover {
    fill:dodgerblue;
    transition: 0.6s;
    cursor: pointer;
}

#cart {
    grid-area: cart;
    max-height: 60%;
    width: 10%;
    overflow-y: scroll;
    left: 0;
    position: absolute;
    scrollbar-width: none;
}

#total {
    grid-area: total;
    color: white;
    left: 0;
    bottom: 0;
    height: 20%;
    width: 10%;
    position: absolute;
}

#cart::-webkit-scrollbar {
    display: none;
}

.map {
    grid-area: map;
    width: 90%;
    margin-top: 5%;
    right: 0;
    position: absolute;
    float: right;
}

svg path {
    fill: #00394f;
    stroke: white;
    stroke-width: .25;
}

svg path:hover {
    fill:darkgreen;
    transition: 0.4s;
    cursor: default;
}

#footerPlaceholder {
    bottom: 0;
    left: 0;
}

.country {
    color: aqua;
}

.countries {
    fill: red;
}

.countries:hover {
    fill: orange;
    transition: 0.4s;
    cursor: pointer;

}

.card {
    background-color: white;
    padding: 2%;
    text-align: center;
}
