@font-face {
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Fonttype';
}

#container {
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

#logo{
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 25%;
}

#writing{
    margin-left: 2%;
    margin-right: 2%;
}

.heading{
    text-align: center;
    font-size: 40px;
}

.description{
    font-size: 26px;
    margin-bottom: 2%;
}

.home{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-size: 30px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(14, 76, 109);
    color: white;
    padding: 0.5%;
    cursor: pointer;
    transition-duration: 0.7s;
    font-family: 'Fonttype';
}

.home:hover {
    background-color: rgb(114, 186, 213);
}

.home:active {
    transform: translateY(4px);
}

@media only screen and (max-width: 720px) {
    #logo{
        max-width: 70%;
        margin-top: 12%;
    }

    #writing{
        margin-left: 7%;
        margin-right: 7%;
    }

    .description{
        text-align: justify;
    }
}