@font-face {
    font-family: Fonttype;
    src: url("/fonts/static/Raleway-Regular.ttf");
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Fonttype';
}

#container {
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

#logo{
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 25%;
}

#writing{
    margin-left: 4%;
    margin-right: 4%;
}

.heading{
    text-align: center;
    font-size: 40px;
}

.description{
    font-size: 16px;
    margin-bottom: 2%;
}

.profile{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.profile-img{
    max-width: 400px;
    max-height: 400px;
    margin: auto;
}

.left{
    text-align: center;
}

.name{
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    font-size: 20px;
}

.title{
    margin: 0;
    font-size: 16px;
}

.profile-text{
    font-size: 16px;
    text-align: justify;
}

.home{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-size: 20px;
    border-style: none;
    border-radius: 7px;
    background-color: rgb(14, 76, 109);
    color: white;
    padding: 0.5%;
    cursor: pointer;
    transition-duration: 0.7s;
    font-family: 'Fonttype';
}

.home:hover {
    background-color: rgb(114, 186, 213);
}

.home:active {
    transform: translateY(4px);
}

@media only screen and (max-width: 720px) {
    #logo{
        max-width: 70%;
        margin-top: 12%;
    }

    #writing{
        margin-left: 7%;
        margin-right: 7%;
    }

    .description{
        text-align: justify;
    }

    .profile{
        display: inline;
    }

    .profile-img{
        max-width: 60%;
    }

    .left{
        margin-top: 10%;
    }

    .profile-text{
        margin-bottom: 5%;
    }
}